@tailwind base;
@tailwind components;
@tailwind utilities;

/*FONTS*/

@font-face {
  font-family: "Satoshi-Variable";
  src: url("/fonts/Satoshi-Variable.woff2") format("woff2"),
    url("/fonts/Satoshi-Variable.woff") format("woff"),
    url("/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 900.0;
*
* available axes:

* 'wght' (range from 300.0 to 900.0)

*/

@font-face {
  font-family: "Satoshi-Variable";
  src: url("/fonts/Satoshi-VariableItalic.woff2") format("woff2"),
    url("/fonts/Satoshi-VariableItalic.woff") format("woff"),
    url("/fonts/Satoshi-VariableItalic.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Light.woff2") format("woff2"),
    url("/fonts/Satoshi-Light.woff") format("woff"),
    url("/fonts/Satoshi-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-LightItalic.woff2") format("woff2"),
    url("/fonts/Satoshi-LightItalic.woff") format("woff"),
    url("/fonts/Satoshi-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Regular.woff2") format("woff2"),
    url("/fonts/Satoshi-Regular.woff") format("woff"),
    url("/fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Italic.woff2") format("woff2"),
    url("/fonts/Satoshi-Italic.woff") format("woff"),
    url("/fonts/Satoshi-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Medium.woff2") format("woff2"),
    url("/fonts/Satoshi-Medium.woff") format("woff"),
    url("/fonts/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-MediumItalic.woff2") format("woff2"),
    url("/fonts/Satoshi-MediumItalic.woff") format("woff"),
    url("/fonts/Satoshi-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Bold.woff2") format("woff2"),
    url("/fonts/Satoshi-Bold.woff") format("woff"),
    url("/fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-BoldItalic.woff2") format("woff2"),
    url("/fonts/Satoshi-BoldItalic.woff") format("woff"),
    url("/fonts/Satoshi-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Black.woff2") format("woff2"),
    url("/fonts/Satoshi-Black.woff") format("woff"),
    url("/fonts/Satoshi-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-BlackItalic.woff2") format("woff2"),
    url("/fonts/Satoshi-BlackItalic.woff") format("woff"),
    url("/fonts/Satoshi-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}

body,
html,
* {
  font-family: "Satoshi";
}

/* styles/Preloader.css */

@keyframes infiniteScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.infinteContainer {
  width: 100%;
  overflow-x: hidden;
}
.horizontal-scrolling-items {
  display: flex;
  font-size: 40px;
  width: 2600px;
  animation-name: infiniteScroll;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.horizontal-scrolling-items__item {
  white-space: nowrap;
}

.rotate180 {
  rotate: 180deg;
}

.switchParent {
  position: relative;
  width: 94px;
  height: 35px;
  background-color: black;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;
}


.stopped {
  left: 7px;
  color: black;
}

.slider {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  line-height: 40px;
  border-radius: 20px;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

@media (min-width:768px){
  .switchParent{
    width: 130px;
    height: 50px;
  }
  
  #panorama .swiper-slide img {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
}
@media (min-width:1700px){
  .switchParent{
    width: 180px;
    height: 70px;
  }
}

@media (min-width:1700px){
  .slider{
    width: 50px;
    height: 50px;
  }
  .stopped {
    left: 15px;
    color: black;
  }
}
@media (min-width:768px){
  .slider{
    width: 35px;
    height: 35px;
  }
}
@media (max-width:767.98px){
  .slider{
    width: 25px;
    height: 25px;
  }
  #panorama .swiper-slide img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}

.playing {
  left: 60%;
  color: black;
}

.lottieLogo {
  max-width: 200px;
}

.bg-radial-nav {
  background: rgb(62, 62, 62);
  background: radial-gradient(
    circle,
    rgba(106, 106, 106, 0.9) 0%,
    rgba(43, 43, 43, 0.9) 96%
  );
}

.Animatedbutton .svg {
  position: absolute;
  top: 0;
  overflow: visible;
  left: 0;
  z-index: 0;
}

@keyframes dash {
  from {
    stroke-dashoffset: 600;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.animate-button-ellipse {
  animation: dash 2s linear;
}

.ob-img {
  align-items: center;
  justify-content: space-between;
}
.ob-img img {
  object-fit: contain;
  height: 26px;
}

/* logo slider */

/* Container for sliding rows */
.sliding-logos-container {
  width: 100%;
  /* overflow: hidden; */
  background-color: #fff;
  padding: 20px 0; /* Optional padding */
  display: flex;
  flex-direction: column;
}

/* Common styling for all rows */
.sliding-row {
  display: flex;
  align-items: center;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  white-space: nowrap;
}

/* Logo styling */

/* Animation for each row with different durations */
.row1 {
  animation: infinite-slide 20s linear infinite;
}

.row2 {
  animation: infinite-slide 25s linear infinite reverse;
}

.row3 {
  animation: infinite-slide 30s linear infinite;
}

/* Keyframes for infinite sliding */
@keyframes infinite-slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
#panorama .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

#panorama .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
}
/* swiper dots*/
#testimonials .swiper-pagination-bullet {
  display: none !important;
}
#oursolution .swiper-pagination-bullet {
  display: none !important;
}

.swiper-slide  {
  height: 100% !important;
}
#oursolution .swiper {
  height: 530px !important;
}

@media (min-width: 1024px) {
  #panorama .swiper-slide img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}
@media (min-width: 1280px) {
  #panorama .swiper-slide img {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
}
@media (min-width: 1700px) {
  #oursolution .swiper {
    height: 750px !important;
  }


  
  
  #panorama .swiper-slide img {
    display: block;
    width: 100%;
    height: 600px;
    object-fit: cover;
  }
}
@media (min-width: 2000px) {
  #oursolution .swiper {
    height: 950px !important;
  }
  #panorama .swiper-slide img {
    display: block;
    width: 100%;
    height: 700px;
    object-fit: cover;
  }
}

#oursolution .swiper-slide  {
  margin: 0px !important;
}


@media (max-width: 768px) {
  #certifiedPartners
    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    top: 95% !important;
    transform: translateX(-50%) !important;
    left: 50% !important;
    display: flex !important;
    justify-content: center;
  }

  #certifiedPartners .swiper-pagination-bullet {
    display: flex !important;
    width: 8px !important;
    height: 8px !important;
    border: 2px solid #000000 !important;
    background: transparent !important;
    opacity: 40% !important;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  #certifiedPartners .swiper-wrapper , #oursolution .swiper-wrapper {
    padding-bottom: 30px !important;
  }

 #oursolution .swiper {
    height: 450px !important;
  }
 
  .swiper-pagination-vertical.swiper-pagination-bullets {
    top: 95% !important;
    transform: translateY(-50%) !important;
    rotate: 90deg !important;
    transform: translateX(-50%) !important;
    left: 50% !important;
    width: 8px;
  }
}

@media (max-width: 640px) {
  #oursolution
    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    top: 97% !important;
    transform: translateX(-50%) !important;
    left: 50% !important;
    display: flex !important;
    justify-content: center;
    height: 30px !important;
  }
  #testimonials
    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    top: 97% !important;
    transform: translateX(-50%) !important;
    left: 50% !important;
    display: flex !important;
    justify-content: center;
    height: 30px !important;
  }

  #oursolution .swiper-pagination-bullet,  #testimonials .swiper-pagination-bullet {
    display: flex !important;
    width: 8px !important;
    height: 8px !important;
    border: 2px solid #000000 !important;
    background: transparent !important;
    opacity: 40% !important;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  #oursolution .swiper-pagination-bullet-active,  #testimonials .swiper-pagination-bullet-active {
    background-color: #000 !important;
    opacity: 100% !important;

      }    #oursolution .swiper {
    height: 450px !important;
  }
  }
  #testimonials .swiper-slide {
    padding-bottom: 20px;
    height: 100%  !important;
  }

@media (max-width: 446.98px) {
  #testimonials .swiper-slide {
    padding-bottom: 0px;
  }
}






/*  PANORAMA SLIDER */



.ai-labs-button {
  position: relative;
  display: inline-block;
  padding: 0.5rem 1rem; /* Adjust padding as needed */
  font-size: 1rem;
  font-weight: 500;
  color: white;
  background: linear-gradient(90deg, #ff7eb3, #8e86ff, #3ccdfd);
  -webkit-background-clip: text; /* Gradient text */
  background-clip: text;

  border: 2px solid transparent;
  border-radius: 30px; /* Rounded corners */
  background-origin: border-box;
  background-image: linear-gradient(#000, #000),
    linear-gradient(90deg, #ff7eb3, #8e86ff, #3ccdfd); /* Gradient border */
  background-clip: padding-box, border-box;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Optional shadow */
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
}



.ai-labs-button:hover {
  background: linear-gradient(90deg, #ff7eb3, #8e86ff, #3ccdfd);
  color: #fff;
  -webkit-background-clip: clip;
  background-clip:clip;
  background-position: center; /* Set gradient position to center */
  background-size: 200% 150%; 
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}
